[submodule "ext/iverilog"]
	path = ext/iverilog
	url = https://github.com/steveicarus/iverilog.git
	branch = v11-branch
[submodule "ext/gtkwave"]
	path = ext/gtkwave
	url = https://github.com/gtkwave/gtkwave
